// Colors
$header: #61892F;
$button-color: #86C232;
$background: #222629;
$second-header: #474B4F;
$other: #d4d4d4;

// Screen sizes width
$xxs: 320px;
$xs: 360px;
$s: 768px;
$m: 1024px;
$l: 1280px;
$xl: 1440px;
$xxl: 1920px;
